* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-fluid {
    width: 100%;
    margin: 0 16px;
}

.container-lg {
    width: 1400px;
    margin: 0 auto;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}


.justify-end {
    justify-content: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-content-evenly {
    align-content: space-evenly;
}

.align-self-end {
    align-self: flex-end;
}

.w-100 {
    width: 100%;
}

.row>[class*="col-"] {
    padding: 12px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
    padding: 12px;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.line-height-150 {
    line-height: 150%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .column {
    display: flex;  
    flex-direction: column;
  }

.bold {
    font-weight: 700;
}

.underline {
    text-decoration: underline;
}